<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/add.css"/>
	</head>
	<body>
		<div id="app">
			<div class="header">
				<span>修改快递信息</span>
			</div>
			<div class="content">
				<table>	
					<tr>
						<td class="text-right">运单号</td><td class="content_right"><input class="input inline-input" id="number" placeholder="请输入运单号码" > <span class="btn btn-info" id="find">立即查找</span></td>
					</tr>
				</table>
			</div>
			
			
			<div class="header">
				<span>查找信息如下</span>
			</div>
			<div class="content">
				<table>
					<tr>
						<td class="text-right">快递单号</td><td class="content_right"><input class="input" placeholder="请输入快递单号" pattern="1[0-9]{2,5}" title="请输入3-6位数字"></td>
					</tr>
					<tr>
						<td class="text-right">快递公司</td><td class="content_right"><input class="input" placeholder="请输入快递公司"></td>
					</tr>
					<tr>
						<td class="text-right">收货人姓名</td><td class="content_right"><input class="input" placeholder="请输入收货人姓名"></td>
					</tr>
					<tr>
						<td class="text-right">手机号码</td><td class="content_right"><input class="input" placeholder="请输入手机号码" pattern="(\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$" title="请输入正确的手机号码"></td>
					</tr>
					<tr>
						<td class="text-right">快递状态</td><td class="content_right"><input type="radio" name="status" class="status" value="1">已签收  <input name="status" type="radio" class="status" value="0">未签收</td>
					</tr>
					<tr>
						<td></td><td class="content_right"><span class="btn btn-info" id="update">立即修改</span>  </td>
					</tr>
				</table>
			</div>
		</div>
	</body>

	<script src="/js/jquery2.1.4.js"></script>
	<script src="/layer/layer.js"></script>
	<script>
		$(".header:eq(1), .content:eq(1)").hide();
		var expressId = null;// 后面可能修改单号，但是id不会该，所以在这里进行标记
		var g_userPhone = null;
		var number_regex = /1[0-9]{2,5}/;
		var phone_regex = /(\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$/;
		$(function () {
			$("#find").click(function () {
				var number = $("#number").val();
				if (!number)
					layer.msg("运单号不能为空");
				else if (!number_regex.test(number))
					layer.msg("请输入3-6位数字");
				else {
					var windowId = layer.load();
					$.getJSON("/express/find.do", {number:number}, function (data) {
						layer.close(windowId);
						layer.msg(data.result);
						if (data.status == 0) {
							$(".header:eq(1), .content:eq(1)").fadeIn(1000);
							expressId = data.data.id;
							g_userPhone = data.data.userphone;
							$("input:eq(1)").val(data.data.number);
							$("input:eq(2)").val(data.data.company);
							$("input:eq(3)").val(data.data.username);
							$("input:eq(4)").val(data.data.userphone);
							if (data.data.status == 0) {
								// 未签收
								$(".status:eq(1)").prop("checked", true);
							} else {
								// 已签收
								$(".status:eq(0)").prop("checked", true);
							}
						}
					})
				}
			});
			$("#update").click(function () {
				var number = $("input:eq(1)").val();
				var company = $("input:eq(2)").val();
				var username = $("input:eq(3)").val();
				var userphone = $("input:eq(4)").val();
				var status = $(".status:checked").val();
				if (!number)
					layer.msg("运单号不能为空");
				else if (!number_regex.test(number))
					layer.msg("请输入3-6位数字");
				else if (!company)
					layer.msg("公司名称不能为空");
				else if (!username)
					layer.msg("用户名不能为空");
				else if (!userphone)
					layer.msg("手机号不能为空");
				else if (!phone_regex.test(userphone))
					layer.msg("请输入正确的手机号码");
				else {
					var windowId = layer.load();
					$.post("/express/update.do", {
						number:number,
						company:company,
						username:username,
						status:status,
						userphone:userphone
					}, function (data) {
						layer.close(windowId);
						layer.msg(data.result);
						if (data.status == 0) {
							$(".header:eq(1), .content:eq(1)").hide();
						}
					})
				}
			});
		});


	</script>
</html>
